/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 .header {
    display: flex;
    background: #2b3137;
    /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%); */
}

.section_padding {
    padding: 4rem 6rem;
}

.header_content {
    max-width: 40vw;
    flex: 1.9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
    color: #FFFFFF;
}

.header_content h1 {
    font-weight: 950;
    font-size: 75px;
    line-height: 75px;
}

.header_content h3 {
    font-size: 48px;
    font-weight: 600;
    margin-top: 1em;
   
}

.header_content_input {
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    background-color: #FFFFFF;
}

.header_image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video iframe {
    aspect-ratio: 16 / 9;
    width: 120%;
    height: 100%;
    padding: 15px;
}
@media screen and (max-width: 1440px){
    .header h3 {
        font-size: 30px;
        /* line-height: 60px; */
    }
}

@media screen and (max-width: 1097px) {
    .header_content{
        max-width: 100%;
    }
    .header {
        flex-direction: column;

    }

    .header_content {
        margin: 0 0 3rem;
    }
    .video iframe {
        min-height: 300px;
    }
}

@media screen and (max-width: 650px) {
    .header h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .header h3 {
        font-size: 25px;
    }

    .section_padding {
        padding: 4rem;
    }
}

@media screen and (max-width: 490px) {
    .header h1 {
        font-size: 35px;
        line-height: 48px;
    }

    .section_padding {
        padding: 3rem;
    }
    .video iframe{
        min-height: 100px;
    }
}
